.social_media{
    font-size: 15px;
    border-bottom: 2px solid rgb(21, 37, 61);

}

.KBSgroup{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav{
    background-color: rgb(141, 240, 215);
    color: #fff;
}